* {
  margin: 0;
  padding: 0;
}

.container {
  width: 850px;
  margin: 40px auto;
}

article {
  border: 3px solid rgb(14, 11, 11);
  color: black;
  font-family: sans-serif;
  line-height: 1.4;
  border-bottom: none;
  width: 100%;
}

h2,
.underprice,
.details-title,
button {
  text-transform: uppercase;
  border: none;
}

h2 {
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
  padding: 10px;
}

.price {
  font-size: 24px;
}

.underprice {
  color: #777;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.moreinfo:link,
.moreinfo:visited {
  color: black;
}

.moreinfo:hover,
.moreinfo:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */
.details-title {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.detail-list {
  list-style: square;
}

/* BUTTON */
.add-cart {
  color: #fff;
  background-color: #000;
  border: 3px solid rgb(14, 11, 11);
  border-left: 0;
  border-right: 0;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}

.phrase {
  margin-bottom: 5px;
}

li {
  margin-left: 20px;
  margin-bottom: 5px;
}

li:last-child {
  margin-bottom: 0;
}
