* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product {
  border: 3px solid rgb(14, 11, 11);
  color: black;
  font-family: sans-serif;
  line-height: 1.4;
  border-bottom: none;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  left: -38px;
  top: -17px;
  letter-spacing: 2px;
}

.product-title,
.underprice,
.details-title,
button {
  text-transform: uppercase;
  border: none;
}

.product-title {
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
  padding: 15px;
}

.price {
  font-size: 24px;
  float: left;
}

.underprice {
  color: #777;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 7.5px;
  float: right;
}

.moreinfo:link,
.moreinfo:visited {
  color: black;
}

.moreinfo:hover,
.moreinfo:active {
  text-decoration: none;
}

.color {
  background-color: #000;
  margin-top: 25px;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 8px;
}

.blue-box {
  background-color: #00f;
}

.red-box {
  background-color: #f00;
}

.yellow-box {
  background-color: #ff0;
}

.green-box {
  background-color: #0f0;
}

.brown-box {
  background-color: #cd7f32;
  margin-right: 0;
}

/* PRODUCT DETAILS */
.details-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.detail-list {
  list-style: square;
}

/* BUTTON */
.add-cart {
  color: #fff;
  background-color: #000;
  border: 3px solid rgb(14, 11, 11);
  border-left: 0;
  border-right: 0;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}

.phrase {
  margin-bottom: 5px;
  clear: both;
}

.details-list li {
  margin-left: 20px;
  margin-bottom: 5px;
}

.product-img {
  float: left;
  margin-right: 40px;
}

.main {
  width: 243px;
  float: left;
  padding-top: 20px;
}

.product-details {
  float: left;
  width: 243px;
  margin-left: 40px;
  margin-top: 20px;
}
