/* main color: #3b5bdb
text color: #343a40; 
secondary color: #edf2ff*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #edf2ff;
  color: #343a40;
  line-height: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-bar {
  background-color: #3b5bdb;
  height: 35px;
  width: 100%;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-element {
  height: 100%;
  width: 20%;
  color: #fff;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav--selected {
  color: #343a40;
  background-color: #edf2ff;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  height: 330px;
  width: 400px;
  border-radius: 2%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 145px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 22px;
  margin-bottom: 15px;
}

.page-title {
  color: #748ffc;
}

.subtitle {
  font-size: 14px;
  color: #adb5bd;
  margin-bottom: 40px;
}

.registration-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input {
  font-size: 13px;
  border: none;
  height: 40px;
  width: 300px;
}

.input:active {
  border: 1px solid #3b5bdb;
}

.password-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.icon {
  height: 18px;
  width: 18px;
  fill: #3b5bdb;
}

.login-button {
  height: 40px;
  width: 350px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #3b5bdb;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-top: 25px;
  cursor: pointer;
}

.login-button:hover {
  color: #3b5bdb;
  background-color: #fff;
  border: 1px solid #3b5bdb;
}

.contact {
  font-size: 13px;
}

.contact-link {
  text-decoration: none;
  color: #3b5bdb;
}

.nav-element span {
  font-size: 14px;
}
